@import url('https://fonts.cdnfonts.com/css/cascadia-code');

.Name, .ls{
    top: 20px;
    color: white;
    margin: auto;
    font-family: 'Cascadia Code', sans-serif;
    text-align: left;
    ;

}
